body {
  background-color: #80deea;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #fff;
  padding: 30px;
  width: 40%;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: black;
  font-weight: bold;
}

main form input[type=text],
main form #cepError {
  width: 50%;
  background-color: #fff;
}

main form input {
  margin: 10px 0;
  padding: 10px;
  outline: none;
  color: black;
}
main form input:disabled {
  background-color: rgba(175, 175, 175, 0.5);
}

.hidden {
  display: none;
}

button {
  padding: 10px;
  background-color: #84f58a;
  color: black;
  font-size: large;
  border-radius: 40px;
  margin-top: 10px;
}

main form #cepError {
  color: rgba(255, 0, 0, 0.68);
  margin-top: -5px;
}